# Environment Variables

PORT=3000

# Microservice URLs
USER_SERVICE_URL=http://localhost:3001
ALERT_SERVICE_URL=http://localhost:3002
INCIDENT_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3004
ONCALL_SERVICE_URL=http://localhost:3005
ANALYTICS_SERVICE_URL=http://localhost:3006
